/* style.css */
:root {
    /* Theme Colors */
    --clr-primary: #BA55D3;
    --clr-primary-hover: #29e6a8;
    --clr-primary-dark: #049c69;
    --clr-grey100: #f0f7f8;
    --clr-grey200: #cfd8dc;
    --clr-grey300: #a7b7be;
    --clr-grey400: #6b7e86;
    --clr-grey500: #425a65;
  
    /* Border radius */
    --radius: 0.2rem;
  }

body {
    font-family: 'Roboto', sans-serif;
    margin: 2rem;
    color: var(--clr-grey500);
  }
  
  a {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: var(--clr-primary); /* Make sure this is a contrasting color */
    color: white; /* Text color */
    text-decoration: none;
    border-radius: var(--radius);
    transition: background-color 200ms ease-in;
    margin-bottom: 1rem;
  }
  
  a:hover {
    background-color: var(--clr-primary-hover); /* A different color on hover for visual feedback */
    color: white; /* Keeping the text color white on hover */
  }
  
  .card__btn {
  padding: 1rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem;
  border: 2px solid var(--clr-primary);
  background: transparent;
  color: var(--clr-primary);
  border-radius: var(--radius);
  transition: background 200ms ease-in, color 200ms ease-in;
}

.card__btn:hover {
  background: var(--clr-primary);
  color: white;
}

  h1, h2 {
    color: var(--clr-primary);
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1rem 0;
  }
  
  ul, ol {
    margin: 1rem 0 1rem 2rem;
  }
  
  li {
    margin-bottom: 0.5rem;
  }
  