/* style.css */
:root {
  /* Theme Colors */
  --clr-primary: #BA55D3;
  --clr-primary-hover: #29e6a8;
  --clr-primary-dark: #049c69;
  --clr-grey100: #f0f7f8;
  --clr-grey200: #cfd8dc;
  --clr-grey300: #a7b7be;
  --clr-grey400: #6b7e86;
  --clr-grey500: #425a65;

  /* Border radius */
  --radius: 0.2rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.site-header {
  text-align: center;
  padding: 1rem;
  background-color: var(--clr-primary);
  color: white;
  border-radius: var(--radius);
  margin: 0 auto 2rem; /* Adjusted margin */
}

.site-header h1 {
  margin: 0;
  font-size: 2.5rem;
}


body {
  font-family: 'Roboto', sans-serif;
  margin: 2rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  grid-gap: 2rem;
  justify-content: center;  
}


.card {
  overflow: hidden;
  box-shadow: 0px 2px 20px var(--clr-grey200);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;
}

.card__img {
  height: 12rem;
  width: 100%;
  object-fit: cover;
}

.card__title {
  padding: 1rem;
}

.card__text {
  padding: 1rem;
}

.card__btn {
  padding: 1rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem;
  border:2px solid var(--clr-primary);
  background: transparent;
  color: var(--clr-primary);
  border-radius: var(--radius);
  transition: background 200ms ease-in, color 200ms ease-in;
}

.card:hover {
  transform: scale(1.1);
}


.card:hover .card__btn {
  background: var(--clr-primary);
  color: white;
}


@media screen and (max-width: 768px) {
  .card-container {
      grid-template-columns: 1fr; /* One column layout */
  }

  
}

  